
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body
{
    font-family: "Rubik";
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
    
}



#main{
    padding: 2vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 137.5vh;
    margin: auto;
    background-color: white;
    border-radius: 2vh;
}

.separator{
    height: 3vh;
}

.row.numbers{
    justify-self:normal;
}

.row{
    display: flex;
    flex-direction: row;
}

.row:not(.row.numbers){
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;

}


.row > div{
    display: flex;
}


h1
{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 5vh;
}

.day > div
{
    writing-mode: vertical-lr;
    text-orientation:sideways-right;



}

.day p{
    transform: rotate(180deg);
    margin: 0;

    font-weight: 400 !important;
}

p
{
   font-size: 2.5vh;
   margin: 0;
   font-weight: 500;

}


.row > div > div
{
    background-color: rgba(232, 252, 239);
    border-radius: 1vh;
    text-align: center;

    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0.5vh;
    padding: 0.5vh;

    border: 0.5vh rgba(232, 252, 239) solid;
}

.row:nth-child(4) > div > div,
.row:nth-child(5) > div > div,
.row:nth-child(6) > div > div,
.row:nth-child(7) > div > div
{
    border: 0.5vh rgb(232, 246, 252) solid;
    background-color: rgb(232, 246, 252);
}

.round-top-left > div{
    border-radius: 2vh 1vh 1vh 1vh !important;
}

.round-top-right > div{
    border-radius: 1vh 2vh 1vh 1vh !important;
}

.round-bottom-right > div{
    border-radius: 1vh 1vh 2vh 1vh !important;
}

.round-bottom-left > div{
    border-radius: 1vh 1vh 1vh 2vh !important;
}


.empty > div
{
    background-color: transparent !important;
}

.empty.day > div{
    padding: 0.5vh !important;
    color: white;
}

#main > div
{
    display: flex;
    padding: 1.5vh;
    flex: 1;
    flex-direction: column;

}

.numbers > div > p
{
    margin: 0vh 1vh 0vh 1vh;
    font-size: 2vh;
    font-weight: 400;
}


.lesson-length{
    font-size: 1.5vh !important;
    font-weight: 400 !important;
}

.numbers > div > p:not(.lesson-length){

}

.numbers > div{
    display: flex;
    flex-direction: column;
}

.numbers:not(.row) > div > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 1vh 0vh 1vh;
}

.inline{
    overflow:hidden;
    display: flex;
    gap: 1vh;

}

.classelement > div > div{
    margin-top: 1vh !important;
}

.name, .class{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 10vh;
    padding: 0.5vh;
}

.name, .class > p, .class{
    font-size: 1.5vh;
    font-weight: 400;
}


.class{
    width: 1.808vh;
    height: 1.808vh;
}

.name{
    flex: 1;
    height: 1.808vh;
}

.class > p{
    position: absolute;
}

.floor, .line, .room{
    padding: 1vh;
}

.floor{
    transform: translate(-40%,-40%);
}
.line{
    transform: rotate(45deg) translate(-38%,-14%);
}

.room{
    transform: translate(0%,-12.5%);
}

.classelement, .row .numbers
{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.classelement > div{
    display: flex;
    flex-direction: column;
}



.double{
    box-sizing: border-box;
    flex-basis: 0;
    flex-grow: 2 !important;
    flex-shrink: 0;
}

.triple{
    box-sizing: border-box;
    flex-basis: 0;
    flex-grow: 3 !important;
    flex-shrink: 0;
}

.semi > div{
    background-color: transparent !important;
    background: repeating-linear-gradient(-45deg,transparent,transparent 1vh,rgba(232, 252, 239) 1vh,rgba(232, 252, 239) 2vh) !important;
}



.row .classelement > div > p
{
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

