@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: rgb(11, 17, 22);
    --text-color: white;

    --primary-color: rgb(110, 185, 245);
    --primary-text-color: rgb(0, 0, 0);

    --secondary-color: rgb(81, 97, 114);
    --secondary-text-color: rgb(255, 255, 255);

    --surface-low-color: rgba(215, 233, 247, 0.5);
    --surface-color: rgba(39, 44, 48, 0.5);
    --surface-higher-color: rgba(59, 71, 80, 0.5);
    --surface-high-color: rgba(83, 107, 126, 0.5);
    --surface-highest-color: rgba(113, 151, 182, 0.5);

    --outline-color: rgba(255, 255, 255, 0.75);

    --surface-text-color: rgb(255, 255, 255);

    --hover-background-color: rgba(255, 255, 255, 0.1);
    --click-background-color: rgba(255, 255, 255, 0.2);

    --hover-darkness: brightness(80%);
    --click-darkness: brightness(60%);

    --box-shadow: 0px 1px 3.33px rgba(0,0,0,0.33);

    --border: var(--border-size) solid var(--outline-color);

    --page-width: 1200px;
    --scroll-bar-size: 10px;

    --text-margin: 10px;

    --toolbar-height: 80px;
    --toolbar-small-height: 60px;

    --tab-height: 52px;
    --tab-small-height: 41px;

    --arrow-height: 50px;

    --button-padding: 10px 20px;

    --chip-corner-radius: 7.5px;
    --chip-padding: 8px 14px;

    --container-margin: 15px;
    --container-small-margin: 5px;

    --border-size: 1px;
    --border-radius: 10px;

    --big-space: 50px;

    --semibold: 500;

    --transition-speed: 200ms;
}

html, body, div{
    scroll-behavior: smooth;
}


body{
    background-color: var(--background-color);
    color: var(--text-color);

    height: 100%;
    width: 100%;
    position: fixed;

    padding: 0;
    margin: 0;

    font-family: 'Rubik', sans-serif;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

@media (min-width: 547px) {

    ::-webkit-scrollbar {
        width: var(--scroll-bar-size);
        height: var(--scroll-bar-size);

        background-color: var(--surface-color);

        box-shadow: var(--box-shadow);
    }
    
    ::-webkit-scrollbar-thumb {
        min-height: var(--scroll-bar-size);
     
        background-color: var(--surface-higher-color);
        border-radius: var(--scroll-bar-size);

        box-shadow: var(--box-shadow);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--surface-high-color);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: var(--surface-highest-color);
    }

}

p{
    font-size: medium;
}

p, h1, h2, h3, h4{
    margin: 0px;
    padding: var(--container-small-margin);
}

h3{
    margin-bottom: var(--text-margin);
    margin-top: var(--big-space);
    font-weight: var(--semibold);
    font-size: x-large;
}

h4{
    margin-top: var(--text-margin);
    font-weight: var(--semibold);
    font-size: large;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

a:visited{
    color: var(--secondary-color);
}

a:hover{
    text-decoration: underline;
}

img, iframe
{
    border-radius: var(--border-radius);
}

div{
    align-self: flex-start;
}

.notbold{
    font-weight:normal
}


button, .primary {
    cursor: pointer;

    margin-top: var(--container-margin);

    width: fit-content;

    border-radius: 9999px;

    padding: var(--button-padding);
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: medium;
  }

  
.floating-bottun{
    bottom: 0px;
    margin-right: var(--container-margin);
    margin-bottom: var(--container-margin);
    z-index: 9999;
    position: absolute;
    right: 0px;
}

button{
    transition: background-color var(--transition-speed);
    background-color: transparent;
    border: var(--border);
    color: var(--primary-color);
}

button:hover {
    background-color: var(--hover-background-color);
}

button:active {
    background-color: var(--click-background-color);
}

.primary,.secondary {
    transition: filter var(--transition-speed);
    border: none;  
}

.primary {
    background-color: var(--primary-color) !important;     
    color: var(--primary-text-color) !important; 
}

.secondary{
    background-color: var(--secondary-color) !important;
    color: var(--secondary-text-color) !important; 
}

.primary:hover,.secondary:hover {
    filter: var(--hover-darkness);
}

.primary:active,.secondary:active {
    filter: var(--click-darkness);
}

.chip-group
{
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;

}

.chip-group > a
{
    transition: all var(--transition-speed);
    border: var(--border);
    color: var(--outline-color);
    border-radius: var(--chip-corner-radius);
    margin: var(--container-small-margin);
    display: block;
    text-align: center;
    padding: var(--chip-padding);
    text-decoration: none;
    font-size: small;
}
  
.chip-group > a:hover
{
    background-color: var(--hover-background-color);
}

.chip-group > a:active
{
    background-color: var(--click-background-color);
}

.toolbar{
    padding-left: var(--container-margin);
    padding-right: var(--container-margin);
    height: var(--toolbar-height);
}

.toolbar > h1{
    color: var(--primary-color) !important;
}

.toolbar:hover{
    text-decoration: none !important;
}

.toolbar > img{
    width: auto;
    height: 50px;
    margin-right: 20px;
}

.layout-horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.banner-foreground{
    position:absolute;
    z-index: 100;
    height: 100% !important;
    align-self: stretch;
    min-width: 0px !important;
}

.banner-foreground > div.image-container{
    flex: 1;
    align-self: stretch;
    background-image: url(phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 50px;
    margin-left: 50px;
    min-width: 500px;
}


.banner-foreground > div:not(.image-container){

    margin-left: 100px;
    align-self: center;
    color: white;

}

.banner-foreground > div{

    margin-top: 50px;

    margin-bottom: 50px;
}

.banner-foreground h1{
    font-size: 50px;
}

.banner-foreground h2{

    font-size: 30px;
    font-weight: unset;

}

.banner-foreground h1, .banner-foreground h2{

    text-shadow: var(--box-shadow);

}

.large-image{
    max-width: 300px;
    width: 300px;
    max-height: 300px;
    height: 300px;
    min-width: auto;
    border-radius: 25px;
    display: block;
    margin-right: 25px;
    align-self: flex-start;
    object-fit: cover;
}

.large-image-container > img:not(.large-image){
    width: 300px;
    height: auto;
}

.large-image-container{

    font-size: 0;
    display: block;
    align-self: self-start;
}

.flex-flow{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}


.larger-image{   
    display: flex !important;
    align-self: stretch !important;
    flex: 1;
    width: 0px;
    height: 400px;
    margin-right: 0;
}

.align-center{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.arrow{

    width: 100%;
    height: 50px;
    filter: invert(98%) sepia(0%) saturate(879%) hue-rotate(159deg) brightness(111%) contrast(100%);
    animation-name: floating; 
    animation-duration: 2s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}

@keyframes floating { 
    0% { transform: translate(0,  -5px); } 
    50%  { transform: translate(0, 5px); } 
    100%   { transform: translate(0, -5px); }     
} 

.webbar{
    background-color: var(--surface-color);
    max-width: 100% !important;
    width: 100% !important;
    box-shadow: var(--box-shadow);
}

.webbar > div{
    max-width: var(--page-width);
    margin: auto;
}


.main-content{
    margin: auto;
    max-width: var(--page-width);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px !important;
}

.icon{
    width: 50px;
    height: 50px;
    object-fit:contain;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-scroll-area{
    overflow-y: scroll;
    height: calc(100dvh - var(--toolbar-height));
    width: 100%;
}


.banner, .banner > img{
    height: calc(100dvh - 
    var(--toolbar-height) - var(--arrow-height));
    width: 100%;
    position: relative;
    border-radius: 0px;
}

.banner > img{
    object-fit: cover;
    filter: brightness(50%) blur(1vh);
    
}


.direction-on-size-3, .direction-on-size{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-width: 0px;
}

.tab-layout{
    align-self: stretch;
    margin-left: auto;
}

.tab{
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    padding-left: var(--container-margin);
    padding-right: var(--container-margin);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: fit-content;
    min-height: 100%;
    background: 
    linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(to right, var(--primary-color), var(--primary-color), var(--primary-color));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 50% 100%;
    background-repeat: no-repeat;
    transition: all 200ms;
    color: var(--tolbar-text-color) !important;
    text-decoration: none !important;
}


.tab.selected{
    background-size: 0 2px, 100% 2px;
    color: var(--primary-color) !important;

}

.tab:hover{
    background-color: var(--surface-color);
    box-shadow: var(--box-shadow);
}

.tab:active{
    color: var(--primary-color) !important;
    background-size: 0 2px, 75% 2px;
}


.navigationbar-div{
    display: none;
}

.include-my-head{
    margin-top: 34.55px !important;
}


@media (max-width: 1100px) {

    .banner-foreground h1{
        font-size: 35px;  
    }
    
    .banner-foreground h2{  
        font-size: 20px;
    }

    @media (max-width: 880px) {

        .include-my-head{
            margin-top: 0px !important;
        }

        .large-image{
            width: 100%;
        }

        .large-image{
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 15px;
        }

        .large-image-container{
            display: block;
            align-self:center;
        }

        .main-scroll-area{
            height: calc(100dvh - 
            var(--toolbar-height) - var(--tab-height)); 
        }

        .banner, .banner > img{
            height: calc(100dvh - 
            var(--toolbar-height) - var(--arrow-height) - var(--tab-height));   
        }

        .direction-on-size-3, .direction-on-size{
            flex-direction: column;
        }

        .tab-layout{
            margin-left: auto;
            margin-right: auto;
            height: var(--tab-height);
        }

        .banner-foreground > div.image-container{
            margin-left: var(--container-margin);
            margin-right: var(--container-margin);
            min-width: 0px !important;
        }
        
        
        .banner-foreground > div:not(.image-container){ 
            margin-left: var(--container-margin);
            margin-right: var(--container-margin);
            margin-bottom: 0px;
        }

        .banner-foreground h1,
        .banner-foreground h2{ 
            text-align: center;
        }

        @media (max-width: 546px) {
          
            .tab-layout{
                display: none;
            }

            .banner-foreground > div.image-container{
                margin-bottom: 25px;
                margin-top: 25px;
    
            }
            
            
            .banner-foreground > div:not(.image-container){ 
                margin-top: 25px;
    
            }

            .toolbar{
                height: var(--toolbar-small-height) !important;
            }

            .toolbar > h1{
                font-size: x-large;
            }

            .toolbar > img{
                width: auto;
                height: 35px;
                margin-right: 15px;
            }

            .navigationbar-div{
                width: 100%;
                max-width: 100%;
                background-color: var(--surface-color);
                display: flex;
                justify-items: stretch;
                height: var(--tab-small-height);
            }

            .floating-bottun{
                bottom: var(--tab-small-height);
            }

            .large-image{
                aspect-ratio: 1/1;
                width:100%;
                height: 100%;
                min-width: 0px;
                min-height: 0px;
            }  

            .main-scroll-area{
                height: calc(100dvh - 
                var(--toolbar-small-height) - var(--tab-small-height));    
            }

            .banner, .banner img{
                height: calc(100dvh - 
                var(--toolbar-small-height) - var(--tab-small-height) - var(--arrow-height));   
            }

            .tab{
                display: flex;
                font-size: smaller;
                padding-left: 10px;
                padding-right: 10px;    
                flex: 1;    
                text-wrap: wrap;
            }         

            .direction-on-size-3{
                flex-direction: row;
                position: relative;
            }

            .banner h1{
                font-size: 27.5px;  
            }
            
            .banner h2{ 
                font-size: 22.5px;   
            }
        }
    }
}